@media screen and (max-width: 1280px) { div.contentblock {width: 1200px;} }
@media screen and (max-width: 1140px) { div.contentblock {width: 1024px;} }
@media screen and (max-width: 992px) { div. contentblock {width: 970px;} }

.container{
    position: absolute;
    width: 392px;
    height: max;
    background-color: #EFEFEF;
line-height: 120px; 
border-radius: 10px;

font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
text-align: center;
color: #000000;
}

.button-class{  
    position: absolute;
    height: 130px;
    width: 300px;  
    text-align: center;
    left: 40px;
top:375px;
}

.text{
    position: absolute;
    top:100px;
}
