html {
width: 392px;
height: 483px;
background-color: #EFEFEF;
}
.payments {
margin-top:25px;}

.field, .payment{
width: 392px;
height: 50px;
background-color: #FFFFFF;
position: relative;
border-style: none none solid none;
border-color: #BBBBBB;
border-width: 1px;
}

.container {
  margin-top:50px;
  top: 50%;
  transform: translate(0, -50%);
  display: block;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;

/* identical to box height */
text-align: center;

color: #000000;


}

.container input {
margin-left:20px;
top: 50%;
  transform: translate(0, -50%);
left:0;
  box-sizing: border-box;
position: absolute;
width: 26px;
height: 26px;
border: 1px solid #000000;
border-radius: 7px;
}



.payment a {
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 12px;
line-height: 15px;
text-align: center;
color: #000000;
float: left;
margin-left: 75px;}

.star, .cards {
margin-left:20px;
transform: translate(0, 25%);
position: absolute;
z-index: 1;
width: 32px;
height: 32px;}

.checkbox{
width: 392px;
height: 70px;
background-color: #FFFFFF;
position: relative;
border-style: none none solid none;
border-color: #BBBBBB;
border-width: 1px;
}

.flag{
margin-left:20px;
top: 50%;
transform: translate(0, -50%);
box-sizing: border-box;
position: absolute;
width: 26px;
height: 26px;
border: 1px solid #000000;
border-radius: 7px;
}

.ending {
width: 392px;
height: 70px;
background-color: #4D4D4D;
position: relative;
}

.solo{
left: 15px;
    top: 597px;
    position: absolute;
    width: 171px;
    height: 37px;
    background: #E28C0B;
    border-radius: 12px;
    ont-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    z-index: 9;
}

.team{
left: 205px;
    top: 597px;
    position: absolute;
    width: 171px;
    height: 37px;
    background: #3ED33B;
    border-radius: 12px;
    ont-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    z-index: 9;
}
.field[placeholder]{
text-indent: 20px;
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #A5A5A5;
margin-bottom:2px;}

.form-control {
    position: relative;
    top: 0px;
    width: 391px;
    left: 0px;
}