{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "cart/css/style_cart.css"%}' rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>Заказ</title>
</head>
<body>
    <script>
        let tg = window.Telegram.WebApp;
        Telegram.WebApp.ready();
        tg.expand();
        tg.MainButton.textColor = '#FFFFFF';
        tg.MainButton.color = '#2cab37';
        let id = tg.initDataUnsafe.user.id
        let username = tg.initDataUnsafe.user.username

        async function request(url, data, csrftoken) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify(data),
            })
            const result = await response.text()
            return result
        }
        async function check() {
            const url = '{% url "order" %}'
            const data = {'id': id }
            const csrftoken = '{{ csrf_token }}'
            const result = await request(url, data, csrftoken)
            console.log(result)
    }
    </script>
    <div class="container">
        <div class="cart-head">
            <h1 class="title">Ваш заказ</h1>
            <a href="javascript:history.back();" class="button light"><h5 class="refactor">Изменить</h5></a>
            {% for item in cart %}
                {% with product=item.product %}
            <div class="card">
                {%if product.photo%}<img src="{{product.photo.url}}" class="img-cart">{%endif%}
                <h3 class="product-title">{{ product.title }}</h3>
                <form action="{% url 'cart:cart_plus' product.id %}" method="post">
                    {{cart_product_form}}
                    {% csrf_token %}
                    <button type="submit" class="plus-btn"><img src="{%static 'cart/images/plus.png'%}" class="minus-prod" width="20px" height="20px"></button>
                </form>
                <h4 class="decription-product">
                    Количество: {{item.quantity }}
                </h4>
                <form action="{% url 'cart:cart_minus' product.id %}" method="post">
                    {{cart_product_form}}
                    {% csrf_token %}
                    <button type="submit" class="minus-btn"><img src="{%static 'cart/images/minus.png'%}" class="plus-prod" width="20px" height="20px"></button>
                </form>
                <h4 class="price">{{ item.price }}₽</h4>
                <h4 class="count">Итого: {{ item.total_price }}₽</h4>
            </div>
            <a class="remove" href='{% url "cart:cart_remove" product.id%}'><img src="{%static 'cart/images/remove.png'%}" width="20px" height="20px"></a>
            {% endwith %}
        {% endfor %}
        <div class="comment">
            <div class="foot">
                <p class="total-price">К оплате: {{cart.get_total_price}}₽</p>
                <form action="check();" method="post">
                    <a href="{%url 'order'%}">
                        <input class="btn" id='listOfNumbersButton' name="listOfNumbersName" type='button' value="Submit" onclick='check();'>
                    </a>
                </form>
<!--                <button class="btn"><span class="btn-text">Перейти к оформлению</span></button></a>-->
            </div>
        </div>
        </div>

    </div>
</body>
</html>