{%load static%}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='{% static "cart/css/style_cart.css"%}' rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>Заказ</title>
</head>
<body>
    <div class="container">
        <div class="cart-head">
            <h1 class="title">Ваш заказ</h1>
            <a href="{% url "menu" %}" class="button light"><h5 class="refactor">Изменить</h5></a>
            {% for item in cart %}
                {% with product=item.product %}
            <div class="card">
                <img src="" class="img-cart">
                <h3 class="product-title">{{ product.title }}</h3>
                <h4 class="decription-product">{{product.description}}</h4>
                <h4 class="price">{{ item.price }}р</h4>
                <h4 class="count">Итоговая цена:{{ item.total_price }}р</h4>
            </div>
            <a class="remove" href='{% url "cart:cart_remove" product.id%}'>Очистить корзину</a>
            {% endwith %}
        {% endfor %}

        </div>
        <div class="comment">
            <form action="" method="post">

                <textarea class="form-control" placeholder="Любые пожелания, детали и т.д." maxlength="255"></textarea>
            </form>
        </div>
       <div class="foot">
            <a href="{%url "order"%}"><button class="btn"><span class="btn-text">Перейти к оформлению</span></button></a>
       </div>
    </div>
    <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
    <script src="app.js"></script>
</body>
</html>