{%load static%}
<!Doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href='{% static "webapp/css/style_main.css"%}'>
        <script src="https://telegram.org/js/telegram-web-app.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
        <title>Ex Minus ut Food</title>
</head>>
<body>
    <div class="header">
        <div class="container"><center><h2 class="text">Привет {Евгей}!
            <br>Выберите ресторан
            для доставки</h2>
            <div class="button-class"><a href="{% url "list_restaurants" %}"><button style= "padding: 30px;
                background-color: white;
                border-radius: 30px; "><b>Выберите ресторан<b></button></a></div></div></center>
    </div> 
    </div>
    </body>