{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{%static 'webapp/js/app.js'%}"></script>
    <link rel="stylesheet" href='{% static "webapp/css/style_menu.css"%}'>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<body>
<script>
    $(document).ready(function() {
    var $elements = $('#list .element');
    $('#select').on('keyup input', function() {
        var value = this.value;
        $elements.hide();
        $elements.filter(':contains("' + value + '")').show();
    });
    });
</script>
<div class="container">
        <div class="header">
            <img class="profile-btn" src="{%static 'webapp/images/cart.png'%}">
            <div class="shop-count">
                <div class="cart">
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                            Ваша корзина:
                            <a href="{% url "cart:cart_detail" %}">
                                {{ total_items }} item{{ total_items|pluralize }},
                                ${{ cart.get_total_price }}
                            </a>
                        {% else %}
                            Корзина пуста.
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <input id="select" placeholder="Введите название блюда..." class="seacrh">
            <img class="search-btn" src="{%static 'webapp/images/search.png'%}">
            <div class="tape">
                <a>Завтрак</a>
                <a>Обед</a>
                <a>Ужин</a>
                <a>Напитки</a>
            </div>
        </div>
        <ul id="list">
            {%for m in prod%}
            <li class="element">
                <div class="card">
                    <div class="image"><img src="{{m.photo.url}}" width="150px" height="150px" style="border-radius: 10px;"></div>
                    <div class="price"><p>{{m.price}}₽</p></div>
                    <div class="name"><p>{{m.title}}</p></div>
                    <div class="description"><p>{{m.description}}</p></div>
                    <div class="card-btn">
                         <form action="{% url "cart:cart_add" m.id %}" method="post">
                            <center>
                            {{ cart_product_form }}
                            </center>
                            {% csrf_token %}
                            <button class="add" type="submit" value="Add to cart">
                            <a>Добавить</a></button>
                        </form>
                    </div>
                </div>
            </li>
            {%endfor%}
        </ul>
    </div>
</body>
</html>