{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href='{% static "webapp/css/style_menu.css"%}'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<body>
<!--<img class="user" src=".\static\user.png">-->
<a href="{% url "profile"%}"><img class="user" src='{%static "webapp/images/user.png"%}'></a>
<img class="loupe" src='{%static "webapp/images/loupe.png"%}'>
<div>
    <div class="tape">

        <a>Завтрак</a>
        <a>Обед</a>
        <a>Ужин</a>
        <a>Напитки</a>
    </div>

    {%for m in prod%}
    <div class="card">
        <div class="image"></div>
        <div class="price"><p>{{m.price}}₽</p></div>
        <div class="name"><p>{{m.title}}</p></div>
        <div class="description"><p>{{m.description}}</p></div>
        <div>
            <form action="{% url "cart:cart_add" m.id %}" method="post">
                <center>
                {{ cart_product_form }}
                </center>
                {% csrf_token %}
                <button class="add" type="submit" value="Add to cart">
                <img class="plus" src='{%static "webapp/images/plus.png"%}'>
                <a>Добавить</a></button>
            </form>
        </div>
    </div>
    {%endfor%}
</div>
</body>
</html>