{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{%static 'webapp/js/app.js'%}"></script>
    <script src="{% static '/js/adaptiv.js'%}"></script>
    <link href="{% static 'webapp/css/style_order.css'%}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<body>
<div style="margin-right: 0px;">
    <a class="refactor" href="javascript:history.back(); window.reload();"><img src="{%static 'webapp/images/back.png'%}" width="30px" height="30px"></a>
    <img class="profile-btn" src="{%static 'webapp/images/cart.png'%}" width="30px" height="30px">
    <div class="shop-count">
        <div class="cart">
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} шт.{{ total_items|pluralize }},
                        {{ cart.get_total_price }}₽
                    </a>
                {% else %}
                    Корзина пуста.
                {% endif %}
            {% endwith %}
        </div>
    </div>
    <form action="{%url 'order'%}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="solo" type="submit">Оплачу сам</button>
        <button class="team" type="submit">Оплачу командой</button>
    </form>
</div>
<div class="payments">
    <div>
        <img class="star" src="{%static 'webapp/images/favorite.png'%}">
        <button class="payment"><a>Оплата бонусами</a></button>
    </div>
</div>
<div class="checkbox">
    <label class="container">Сохранить информацию на будущее
        <input type="checkbox" checked="checked">
    </label>
</div>
<div class="ending">
</div>
</body>
</html>