{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{%static 'js/app.js'%}"></script>
    <link rel="stylesheet" href='{% static "webapp/css/style_order.css"%}'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
</head>
<body>
<form action="{%url 'order'%}" method="post">
    {% csrf_token %}
    {{ form }}
    <button class="solo" type="submit" onclick="window.Telegram.WebApp.close();">Оплачу сам</button>
    <button class="team" type="submit">Оплачу командой</button>
</form>
<div class="payments">
    <div>
        <img class="star" src="{% static "webapp/images/urxMmsFU46WsEdPTVaev-PhotoRoom.png" %}">
        <button class="payment"><a>Оплата бонусами: {{bonus}}</a></button>
    </div>
    <div>
        <img class="cards" src="{% static "webapp/images/b94d627b0bd6d063269f36d439a49c5b.png" %}">
        <button class="payment"><a>Способ оплаты</a></button>
    </div>
</div>
<div class="checkbox">
    <label class="container">Сохранить информацию на будущее
        <input type="checkbox" checked="checked">
    </label>
</div>
<div class="ending" style="display:flex; flex-direction:row;">
</div>
</body>
</html>