{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "webapp/css/style_sec.css"%}'>
    <link rel="stylesheet" href='{% static "webapp/css/fonts.css"%}'>
    <title>Food service</title>
</head>
<body style="display: flex; flex-direction: column">
    <div class="container">
        <div class="item">
        <img src='{%static "webapp/images/green_star.png"%}' class="star1">
        <img src='{%static "webapp/images/4d84cf454f02eaf708c41bfbf261d893.png"%}' class="star2">
        </div>
        <div class="rest_img">
        <div class="rest_img1"></div>
        <div class="rest_img2"></div>
            <h1 class="numbers">4.9</h1>
                <div class="flex layout">
                    <h2 class="rest_name">DON Food</h2>
                        <div class="small_text">Описание ресторана/кухни</div>
                </div>
                <div class="flex layout">
                    <h2 class="rest_name1">Clod Mone</h2>
                    <h1 class="numbers1">4.7</h1> 
                        <div class="small_text1">Описание ресторана/кухни</div>
                </div>
        </div>        
    </div>
    <script scr="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="app.js"></script>
</body>
</html>